WesterosApp/WesterosApp.sln
WesterosApp/.vscode/launch.json
WesterosApp/.vscode/tasks.json
WesterosApp/bin/Debug/net10.0/WesterosApp.deps.json
WesterosApp/bin/Debug/net10.0/WesterosApp.dll
WesterosApp/bin/Debug/net10.0/WesterosApp.exe
WesterosApp/bin/Debug/net10.0/WesterosApp.pdb
WesterosApp/bin/Debug/net10.0/WesterosApp.runtimeconfig.json
WesterosApp/obj/project.assets.json
WesterosApp/obj/project.nuget.cache
WesterosApp/obj/WesterosApp.csproj.nuget.dgspec.json
WesterosApp/obj/WesterosApp.csproj.nuget.g.props
WesterosApp/obj/WesterosApp.csproj.nuget.g.targets
WesterosApp/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
WesterosApp/obj/Debug/net10.0/apphost.exe
WesterosApp/obj/Debug/net10.0/WesterosApp.AssemblyInfo.cs
WesterosApp/obj/Debug/net10.0/WesterosApp.AssemblyInfoInputs.cache
WesterosApp/obj/Debug/net10.0/WesterosApp.assets.cache
WesterosApp/obj/Debug/net10.0/WesterosApp.csproj.CoreCompileInputs.cache
WesterosApp/obj/Debug/net10.0/WesterosApp.csproj.FileListAbsolute.txt
WesterosApp/obj/Debug/net10.0/WesterosApp.dll
WesterosApp/obj/Debug/net10.0/WesterosApp.GeneratedMSBuildEditorConfig.editorconfig
WesterosApp/obj/Debug/net10.0/WesterosApp.genruntimeconfig.cache
WesterosApp/obj/Debug/net10.0/WesterosApp.GlobalUsings.g.cs
WesterosApp/obj/Debug/net10.0/WesterosApp.pdb
WesterosApp/obj/Debug/net10.0/ref/WesterosApp.dll
WesterosApp/obj/Debug/net10.0/refint/WesterosApp.dll
